"agent": {
  "metrics_collection_interval": {{ amz_cwagent_metrics_collection_interval_secs }},
  "region": "{{ amz_cwagent_region }}",
  "logfile": "{{ amz_cwagent_log_file }}",
  "debug": {{ amz_cwagent_debug }},
  "run_as_user": "{{ amz_cwagent_run_as_user }}",
  "omit_hostname": {{ amz_cwagent_omit_hostname }}
}
